<div class="text-center songlist">
	<form role="form" action="javascript:;" method="post">
		<fieldset>
			<div class="row">
				<div class="col-md-3">
					<input ng-model="song.title" ng-disabled="isLoading" class="form-control" placeholder="{{ 'song.title' | translate }}..." maxlength="80" autofocus focus-on="focus">
				</div>

				<div class="col-md-3">
					<input ng-model="song.author" ng-disabled="isLoading" class="form-control" placeholder="{{ 'song.author' | translate }}..." maxlength="50" typeahead="author for author in authors() | filter: $viewValue | limitTo: 5">
				</div>

				<div class="col-md-3">
					<input ng-model="song.genre" ng-disabled="isLoading" class="form-control" placeholder="{{ 'song.genre' | translate }}..." maxlength="30" typeahead="genre for genre in genres() | filter: $viewValue | limitTo: 5">
				</div>

				<div class="col-md-3">
					<span ng-if="!song.editing">
						<button ng-click="create()" ng-disabled="isLoading" class="btn btn-primary full" type="submit"><i class="glyphicon glyphicon-music"></i> <i class="glyphicon glyphicon-share"></i></input></button>
					</span>
					<span ng-if="song.editing">
						<button ng-click="edit()" ng-disabled="isLoading" class="btn btn-primary half" type="submit"><i class="glyphicon glyphicon-save"></i></input>
						<button ng-click="clean()" ng-disabled="isLoading" class="btn btn-primary half" type="submit"><i class="glyphicon glyphicon-remove"></i></input></button>
					</span>
				</div>
			</div>
		</fieldset>
	</form>
</div>

<div class="text-center container-outer">
	<div>
		<table class="full">
			<tr>
				<td ng-repeat="genre in genres()" ng-style="{ width: (1 / genres().length) * 100 + '%' }" class="list-tab">
					<ul class="list-group songlist">
						<li class="list-group-item list-header">
							<span class="list-title">{{ genre }}</span>
						</li>
						<li ng-repeat="song in byGenre()[genre]" class="list-group-item text-left">
							<table class="full">
								<tr>
									<td>
										<span class="primary">{{ song.title }}</span> - 
										<span class="secondary">{{ song.author }}</span>
									</td>
									<td class="icons">
										<a ng-click="startEditing(song)" href="javascript:;"><i class="glyphicon glyphicon-edit"></i></a>
										<a ng-click="delete (song)" href="javascript:;"><i class="glyphicon glyphicon-fire"></i></a>
									</td>
								</tr>
							</table>
						</li>
					</ul>
				</td>
			</tr>
		</table>
	</div>
</div>