<div class="text-center">
	<table class="lists-container">
		<tr>
			<td style="width: 50%">
				<ul class="list-group songlist">
					<li class="list-group-item list-header">
						<span class="list-title">Heavy Metal</span>
					</li>
					<li class="list-group-item">
						<span class="primary">Master Of Puppets</span> - 
						<span class="secondary">Metallica</span>
					</li>
					<li class="list-group-item">
						<span class="primary">The Dark Eternal Night</span> - 
						<span class="secondary">Dream Theater</span>
					</li>
					<li class="list-group-item">
						<span class="primary">Warriors Of The World United</span> - 
						<span class="secondary">Manowar<span>
					</li>
				</ul>
			</td>

			<td style="width: 50%">
				<ul class="list-group songlist">
					<li class="list-group-item list-header">
						<span class="list-title">Pop</span>
					</li>
					<li class="list-group-item">
						<span class="primary">Umbrella</span> - 
						<span class="secondary">Rihanna</span>
					</li>
					<li class="list-group-item">
						<span class="primary">Poker Face</span> - 
						<span class="secondary">Lady Gaga</span>
					</li>
					<li class="list-group-item">
						<span class="primary">Hollaback Girl</span> - 
						<span class="secondary">Gwen Stefany</span>
					</li>
				</ul>
			</td>
		</tr>
	</table>
</div>