<div class="text-center">
	<table class="lists-container">
		<tr>
			<td ng-repeat="genre in genres()" ng-style="{ width: (1 / genres().length) * 100 + '%' }" class="list-tab">
				<ul class="list-group songlist">
					<li class="list-group-item list-header">
						<span class="list-title">{{ genre }}</span>
					</li>
					<li ng-repeat="song in byGenre()[genre]" class="list-group-item">
						<span class="primary">{{ song.title }}</span> - 
						<span class="secondary">{{ song.author }}</span>
					</li>
				</ul>
			</td>
		</tr>
	</table>
</div>