<div class="container" ng-controller="HeaderCtrl">
	<div class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="javascript:;">{{ 'songlist' | translate }}</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li ng-show="!isActive('/')" class="dropdown" >
						<a class="dropdown-toggle" href="javascript:;" data-toggle="dropdown">{{ 'header.order' | translate }} <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Nav header</li>
							<li><a href="#">Separated link</a></li>
							<li><a href="#">One more separated link</a></li>
						</ul>
					</li>
					<li>
						<img ng-show="isLoading" class="navbar-brand" src="assets/loading.gif" alt="loading">
					</li>
				</ul>
				<ul ng-show="!isActive('/')" class="nav navbar-nav navbar-right">
					<li>
						<a ng-click="logout()" class="glyphicon glyphicon-off" href="javascript:;"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<!-- Main component for a primary marketing message or call to action -->
	<div class="jumbotron" ng-view></div>
</div>