<!DOCTYPE html>
<html>
	<head>
		<title>Songlist</title>
		<%= stylesheet_link_tag    "dependencies", media: "all" %>
		<%= javascript_include_tag "dependencies" %>
		<%= csrf_meta_tags %>
	</head>
	<body ng-app="songlist">

		<%= yield %>

	</body>
</html>
